<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Twitter Bootstrap Basic Tab Based Navigation Example</title>
<meta name="description" content="Twitter Bootstrap Basic Tab Based Navigation Example">
<link href="/svcb/svcb/trip/static/css/bootstrap/bootstrap.css" rel="stylesheet">
<!-- <link href="/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"> -->
</head>
<body>
<div class="container">
<div class="row">
<div class="span5">
<ul class="nav nav-tabs">
<li class="active">
<a href="#">Accounting</a> </li>
<li><a href="#">Fund Raisers</a></li>
<li><a href="#">Aramark </a></li>
<li><a href="#">Admin</a></li>
</ul>
</div>
</div>
</div>
</body>
</html>
